* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    gap: 500px;
    padding: 20px 60px 20px 100px;
}

.modal_btn {
    padding: 10px;
    border-radius: 100%;
    border: none;
    background: #04a061;
    font-weight: 400;
    color: #F5F2EB;
}

.modal_btn_cancel {
    left: 302px;
    font-size: 26px;
    position: absolute;
    top: 11px;
    color: red;
    font-weight: 700;
    border: none;
    background: none;
}

.modal_input {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
}


.header_content {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.header {
    min-height: 91px;
    background: #04a061;
    position: relative;
}

.create {
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background: #F5F2EB;
    color: #04454d;
    font-size: 18px;
    /* margin-right: 100px; */
}

.users {
    display: flex;

}

.settings {
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background: #F5F2EB;
    color: #04454d;
    font-size: 18px;
}

.tags {
    border: none;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    /* margin-right: 140px; */
}

.logo {
    color: #fdc827;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
}

.container {
    background: #04a061;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    min-height: 900px;
    padding: 80px 0 25px 80px;
    box-shadow: 0px 1px 17px rgb(0, 0, 0, 0.65) inset;
}

.boards_main {
    display: flex;
    gap: 30px;
}

.boards_user {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.board {
    background: #fdc827;
    min-width: 320px;
    max-width: 320px;
    padding: 10px 15px 15px 10px;
    border-radius: 8px;
    min-height: 400px;
    height: fit-content;
    box-shadow: 9px 9px 10px rgb(0, 0, 0, 0.65);
    position: relative;
}

.board_error {
    color: rgb(255, 109, 109);
    margin: 14px 0 0 10px;
    display: none;
}

.board_error_2 {
    color: rgb(255, 109, 109);
    margin: 14px 0 0 10px;
    display: none;
}

.board_top {
    display: flex;
    justify-content: space-between;
}

.add {
    border: none;
    background: none;
    color: #04ba71;
    font-size: 28px;

}

.delete {
    border: none;
    background: none;

}

.delete img {
    max-width: 21px;
    max-height: 21px;
    margin-left: 2px;
}

.card {
    background: #04454d;
    color: #fff;
    padding: 6px;
    border-radius: 8px;
    margin-top: 4px;
    box-shadow: 2.5px 2.5px 6px rgb(0, 0, 0, 0.85);
    position: relative;
}

.card:hover {
    box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.85);
}

.card_wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 8px;
    min-height: 300px;
}

.modal {
    color: #000;
    background: #F5F2EB;
    max-height: 315px;
    padding: 30px 40px 30px 40px;
    border-radius: 10px;
    position: absolute;
    left: 575px;
    top: 128px;
    align-items: center;
    box-shadow: 6px 6px 9px black;
    z-index: 1;
}

.modal_title {
    font-size: 29px;
    margin-bottom: 10px;
}

.board_name {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
}

.btn_cancel {
    border-radius: 10px;
    background: rgb(255, 73, 73);
}

.modal_btn_wrapper {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.create_board {
    padding: 10px;
    border-radius: 100%;
    border: none;
    background: #04a061;
    font-weight: 400;
    color: #F5F2EB;
}

.card_desc {
    margin: 7px 0 7px 0;
}

.modal_task {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 300px;
    left: -24px;
    top: 115px;
}

.modal_task input {
    width: 290px;
}

.add_user {
    padding: 6.5px 16.5px;
    border-radius: 100%;
    border: none;
    font-size: 28px;
    font-weight: 400;
    background: #fdc827;
}

.users_wrapper {
    display: flex;
    gap: 1px;
}

.user_img {
    border-radius: 100%;
}

.user {
    position: relative;
}

.details {
    display: none;
    position: absolute;
    background: #fdc827;
    top: 57px;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000000;
}

.user:hover .details {
    display: block;
}

.modal_desc_close {
    margin-top: 15px;
}

.modal_desc_task {
    margin: 10px 0 10px;
}

.modal_desc {
    padding: 20px 30px 20px 30px;
    max-width: 350px;
    max-height: 700px;
    border-bottom-right-radius: 40%;
    top: 150px;
    left: 330px;
}

.modal_desc_delete {
    background: rgb(255, 90, 90);
    border-radius: 10px;
    margin-left: 8px;
}

.modal_settings {
    max-height: 500px;
    left: 600px;
}


.input_label {
    font-family: 'Open Sans', sans-serif;
    margin-top: 7px;
}

.modal_tags {
    margin-bottom: 15px;
}

.color_item {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 100%;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.65);
}

.color_item:hover {
    box-shadow: 0.3px 0.3px 4px rgb(0, 0, 0, 0.65);
}

.color_item_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.settings_btn_close {
    background: rgb(214, 40, 40);
    border-radius: 10px;
    margin-top: 25px;

}

.new_board_title_btn {
    border-radius: 100%;
    margin-left: 6px;
    padding: 7px;
    box-shadow: 1px 1px 3px black;
}

.new_board_title_btn:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    background: #048d56;
}

.new_board_title {
    font-size: 21px;
    color: #000;
    font-weight: 700;
    border: none;
    background: none;
    padding: 3px 0 3px 5px;
    max-width: 136px;
}

.new_board_title:active {
    border: 1px solid rgba(255, 255, 255, 0);
}


@media screen and (max-width:1350px) {
    .wrapper {
        gap: 260px;
    }

    .modal {
        left: 520px;
        top: 250px;
    }
}

@media screen and (max-width:1200px) {
    .wrapper {
        gap: 220px;
    }

    .modal {
        left: 450px;
        top: 230px;
    }
}

@media screen and (max-width:1024px) {
    .wrapper {
        gap: 160px;
    }

    .tags {
        max-width: 170px;
    }

    .modal {
        left: 340px;
        top: 220px;
    }
}

@media screen and (max-width:900px) {
    .wrapper {
        gap: 80px;
    }

    .container {
        padding: 80px 0 0 50px;
    }

    .wrapper {
        padding: 20px 60px 20px 50px;
    }

    .modal {
        left: 280px;
        top: 220px;
    }

}

@media screen and (max-width:750px) {
    .wrapper {
        gap: 40px;
    }

    .modal {
        left: 210px;
        top: 220px;
    }
}

@media screen and (max-width:600px) {
    .tags {
        max-width: 105px;
    }

    .settings {
        padding: 5px;
        font-size: 14px;
    }

    .create {
        padding: 11px;
        font-size: 14px;
    }

    .header {
        min-height: 80px;
    }

    .wrapper {
        gap: 20px;
    }

    .logo {
        font-size: 23px;
    }
}

@media screen and (max-width:450px) {
    .wrapper {
        padding: 20px 60px 20px 20px;
    }
}