*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    display: flex;
    gap: 500px;
    padding: 20px 60px 20px 100px;
    
}

.modal_btn{
    padding: 10px;
    border-radius: 100%;
    border: none;
    background: #04a061;
    font-weight: 400;
    color: #F5F2EB;
}

.modal_input{
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
}

.header_content{
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.header{
    min-height: 91px;
    background: #04ba71;
    
}

.create{
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background: #F5F2EB;
    color: #04454d;
    font-size: 18px;
    /* margin-right: 100px; */
}

.users{
    margin-right: 0px;
}

.settings{
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background: #F5F2EB;
    color: #04454d;
    font-size: 18px;
}

.tags{
    border: none;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    /* margin-right: 140px; */
}

.logo{
    color: #fdc827;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
}

.container{
    background:#04a061 ;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    min-height: 900px;
    padding:80px 0 0 80px;
}

.board{
    background:#fdc827 ;
    min-width: 320px;
    max-width: 320px;
    padding: 10px 15px 0 10px;
    border-radius: 8px;
    max-height: 400px;
}

.board_error{
    color: rgb(255, 109, 109);
    margin:14px 0 0 10px;
    display: none;
}
.board_error_2{
    color: rgb(255, 109, 109);
    margin:14px 0 0 10px;
    display: none;
}
.board_top{
    display: flex;
    justify-content: space-between;
}

.add{
    border: none;
    background: none;
    color: #04ba71;
    font-size: 28px;

}

.delete{
    border: none;
    background: none;
    
}

.delete img{
    max-width: 21px;
    max-height: 21px;
    margin-left: 2px;
}

.card{
    background: #04454d;
    color: #fff;
    padding: 6px;
    border-radius: 8px;

}

.card_wrapper{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal{
    background:#F5F2EB ;
    max-height: 160px;
    padding: 30px 40px 30px 40px;
    border-radius: 10px;
    position: absolute;
    left: 650px;
    top: 300px;
    align-items: center;
}

.modal_title{
    font-size: 29px;
    margin-bottom: 10px;
}

.board_name{
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
}

.create_board{
    padding: 10px;
    border-radius: 100%;
    border: none;
    background: #04a061;
    font-weight: 400;
    color: #F5F2EB;
}

.modal_task{
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 300px;
}

.modal_task input{
    width: 290px;
}
@media screen and (max-width:1350px){
    .wrapper{
    gap: 260px;
    }
    .modal{
        left: 520px;
        top: 250px;
    }
}
@media screen and (max-width:1200px){
    .wrapper{
    gap: 220px;
    }
    .modal{
        left: 450px;
        top: 230px;
    }
}
@media screen and (max-width:1024px){
    .wrapper{
    gap: 160px;
    }
    .tags{
        max-width: 170px;
    }
    .modal{
        left: 340px;
        top: 220px;
    }
}
@media screen and (max-width:900px){
    .wrapper{
    gap: 80px;
    }
    .container{
        padding: 80px 0 0 50px;
    }
    .wrapper{
        padding: 20px 60px 20px 50px;
    }
    .modal{
        left: 280px;
        top: 220px;
    }

}

@media screen and (max-width:750px){
    .wrapper{
    gap: 40px;
    }
    .modal{
        left: 210px;
        top: 220px;
    }
}